<div id="app" style="border: 1px solid blue">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Content</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="post in posts">
        <td>{{ post.title }}</td>
        <td>{{ post.author }}</td>
        <td>{{ post.content }}</td>
        <!--
        <td><a href="{{ post.url | pathTo }}">Show</a></td>
        <td><a href="{{ post.url | pathTo 'edit' }}">Edit</a></td>
        -->
        <td><a @click="showPost($index, post.id)">Show</a></td>
        <td><a @click="editPost($index, post.id)">Edit</a></td>
        <td><button v-on:click="removePost($index, post.id)">X</button></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <div class="add-post">
    <%= render "vue_form" %>
  </div>
</div>

<script>
Vue.filter('pathTo', function (path, action) {
  // return processed value
  if (!path) return;

  var rtn = path.split('.json');

  if(action === 'edit') {
    rtn.push('/edit');
  }

  return rtn.join();
});

/* Set vue-resource */
Vue.use(VueResource);
Vue.http.interceptors.push((request, next) => {
  request.data.authenticity_token = '<%= form_authenticity_token %>';
  // continue to next interceptor
  next();
});

/* Intial Vue App */
new Vue({
  el: '#app',
  data: {
    newPost: {},
    posts: [
      { title: '---' }
    ],
    state: ''
  },
  created: function() {
    this.fetchPosts();
  },
  methods: {
    fetchPosts: function() {
      var that = this;
      this.$http.get('/posts.json')
        .then(
          function success(res) {
            console.info(res);
            console.info('fetch_data: ', res.data);

            that.errors = {}
            that.posts = res.data;
            that.newPost = {};
          },
          function error(res) {
            that.errors = res.data.errors
          }
        )
    },

    addPost: function () {
      var that = this;
      var title = this.newPost.title.trim();
      if (title) {

        this.$http.post('/posts.json', { post: that.newPost })
          .then(
            function success(res) {
              console.info(res);

              that.errors = {}
              that.posts.push(res.data);
              that.newPost = {};
            },
            function error(res) {
              that.errors = res.data.errors
            }
          );
      }
    },

    showPost: function(index, post_id) {
      this.state = 'show';
      this.newPost = this.posts[index];
      console.log('showPost');
    },

    editPost: function(index, post_id) {
      this.state = 'edit';
      this.newPost = Object.assign({}, this.posts[index])
      console.log('editPost', this.newPost);
    },

    updatePost: function() {
      var that = this;
      console.log('updatePost', this.newPost);

      if (this.newPost.id) {
        this.$http.patch('/posts/' + that.newPost.id + '.json', { post: that.newPost })
          .then(
            function success(res) {
              console.info(res);

              that.errors = {};
              that.newPost = {};
              that.state = '';
            },
            function error(res) {
              that.errors = res.data.errors
            }
          );
      }
    },

    removePost: function (index, post_id) {
      var that = this;

      console.warn('removePost: ', index, post_id);

      if (post_id) {
        this.$http.delete('/posts/' + post_id + '.json', { /* post: { title: title, author: 'ralph', content: content }, */ })
          .then(
            function success(res) {
              console.info(res);
              that.errors = {};
              that.posts.splice(index, 1);
            },
            function error(res) {
              that.errors = res.data.errors
            }
          );
      }
    },

    cancel: function() {
      this.state = '';
      this.newPost = {};
    }
  },
  computed: {
    isAddable: function() {
      return this.state !== 'show' && this.state !== 'edit';
    },
    isEdit: function() {
      return this.state === 'edit';
    }
  }
})
</script>